// .header-container {
//   background-image: url('../images/IMAGE.jpg');
//   border-radius: 0px;
//   padding: 200px 0;
// }

.header-container {
  display: flex;
  text-align: center;
  border-radius: 0px;
  padding: 200px 0;
  background-color: darkcyan;
}

.nav {
  display: flex;
}

.logo {
  background: #ffffff;
  margin-right: 140px;
}

.list {
  display: flex;
  justify-content: flex-end;
}

.header-link {
  font-size: 13px;
  line-height: 30px;
  color: #ffffff;
  margin-right: 50px;
}

.header-btn {
  position: absolute;
  border: 1px solid #ffffff;
  border-radius: 4px;
  margin-right: 68px;
}
