.partners {
  display: flex;
  height: 350px;
  width: 1140px;
}

.partners-left {
  width: 404px;
  height: 250px;
  padding: 46px 53px 37px 15px;
  border-right: 1px solid #e8e8e8;

  &__title {
    margin-bottom: 1px;

    font-family: 'Roboto';
    font-size: 26px;
    line-height: 1.46;

    color: #000000;
  }

  &__text {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.88;

    color: #737373;
  }
}

.list {
  list-style: none;
}

h2,
p,
li {
  margin: 0;
  padding: 0;
}

.features {
  display: flex;
  width: 710px;
  height: 250px;
  flex-wrap: wrap;
  padding: 57px 13px 22px 68px;

  &__item {
    max-width: 164px;
  }

  &__text {
    font-family: 'Roboto';
    font-size: 11px;
    line-height: 2.73;

    color: #737373;
  }
}
