.partners {
  display: flex;
  width: 1190px;
  margin: 0 auto;
  padding: 50px 25px;
  height: 350px;

  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

.partners-left {
  height: 250px;
  padding: 46px 53px 37px 15px;
  border-right: 1px solid #e8e8e8;

  &__title {
    width: 297px;
    margin-bottom: 1px;

    font-size: 26px;
    line-height: 1.46;

    color: #000000;
  }

  &__text {
    width: 335px;

    font-size: 16px;
    line-height: 1.88;

    color: #737373;
  }
}

.list {
  list-style: none;
}

.features {
  display: flex;
  width: 710px;
  height: 250px;
  flex-wrap: wrap;
  padding: 57px 13px 22px 68px;

  &__item {
    max-width: 164px;
  }

  &__text {
    font-family: 'Roboto';
    font-size: 11px;
    line-height: 2.73;

    color: #737373;
  }
}
