.partnership-items {
    display: flex;
    flex-wrap: wrap;
}

.partnership-list {
    margin-right: 23px;
    margin-bottom: 30px;
    max-width: 365px;
}

.partnership-title {
    font-size: 42px;
    line-height: 1.2;
    text-align: center;
    color: #000000;
}
.partnership-parag {
    font-weight: 400;
    font-size: 15px;
    line-height: 2;
    color: #737373;
}

.partnership-town {
    font-size: 20px;
    line-height: 1.4;
    color: #000000;
}