@mixin resources-font($wd, $mb, $fs, $lh, $ta, $col) {
  width: $wd;
  margin-bottom: $mb;
  font-size: $fs;
  line-height: $lh;
  text-align: $ta;
  color: $col;
}

.resources__h2 {
  @include resources-font(null, 35px, 42px, 1.19, center, #000000);
}

.resources__text {
  @include resources-font(null, 75px, 14px, 2.14, center, #737373);
}

.resources-item {
  display: flex;
  justify-content: space-between;
  margin: 0;

  &__info {
  padding: 10px;
  width: 360px;
  margin: 0 15px;
}
  
  &__img {
  margin-bottom: 10px;
}

&__text {
  display: block;
  padding: 20px;
  justify-content: center;
  padding: 40px 30px;
}

&__h3 {
  @include resources-font(270px, 20px, 24px, 1.85, null, #000000);
}
&__p {
  @include resources-font(270px, null, 16px, 1.88, null, #737373);
}
}