.list {
  list-style: none;
}
ul,
ol {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


.resources__h2 {
  font-size: 42px;
  line-height: 1.19;
  text-align: center;
  color: #000000;
  margin-bottom: 35px;
}

.resources__text {
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
    margin-bottom: 75px;
  color: #737373;
}

.resources__item {
  display: flex;
  justify-content: space-between;
  margin: 0;

}
.resources__info {
    padding: 10px;
    width: 360px;

}