<section class="faq">
    <h2>FAQ</h2>
    <p>
        Below is a list of frequently asked questions. If you can't find what
        you’re looking for then feel free to ask us directly via
    </p>
    <ol>
        <li>What is your privacy and security policy?</li>
        <li>How long is the development timeline?</li>
        <li>What type of companies do you work with?</li>
        <li>How many team members for a project?</li>
        <li>What warranties are to ensure deliverables are met?</li>
        <li>Do you outsource work?</li>
    </ol>
</section>