<footer>
    <p>Trusted by businesses worldwide.</p>
    <a href="">Apello</a>
    <ul>
        <li>
            <h3>Our services</h3>
            <ul>
                <li>iOS App Development</li>
                <li>Android App Development</li>
                <li>UX/UI App Design</li>
                <li>Custom Software Development</li>
                <li>Healthcare Software Development</li>
                <li>Education Software Development</li>
                <li>FinTech Software Development</li>
            </ul>
        </li>
        <li>
            <h3>Our offices</h3>
            <ul>
                <li>WeWork - George St, Sydney, Australia</li>
                <li>Sydney Startup Hub - Sydney, Australia</li>
                <li>WeWork - Edward St, Brisbane, Australia</li>
                <li>40 Bank St, Canary Wharf, London, UK</li>
                <li>WeWork - Paddington, West London, UK</li>
                <li>WeWork - Mission St, San Francisco, US</li>
            </ul>
        </li>
        <li>
            <h3>Contact us</h3>
            <ul>
                <li>
                    <a href="">hello@appello.com.au</a>
                </li>
                <li>
                    <a href="">(+61) 027 202 5164</a>
                </li>
                <li><a href="">London: (+44) 203 608 3126</a></li>
                <li>
                    <a href="">San Francisco: (+1) 628 280 6518</a>
                </li>
            </ul>
        </li>
    </ul>
    <p>© Appello Pty. Ltd.2021</p>
    <ul>
        <li>
            <a href="">Facebook</a>
        </li>
        <li><a href="">Instagram</a></li>
        <li>
            <a href="">Dribbble</a>
        </li>
        <li>
            <a href="">Linkedin</a>
        </li>
    </ul>
    <p>Sitemap</p>
</footer>