<header class="header-container">
  <a href="./index.html" class="logo">Apello</a>
  <nav class="nav">
    <ul class="list">
      <li><a href="" class="header-link">Home</a></li>
      <li><a href="" class="header-link">Portfolio</a></li>
      <li><a href="" class="header-link">Process</a></li>
      <li><a href="" class="header-link">Team</a></li>
      <li><a href="" class="header-link">Resources</a></li>
    </ul>
  </nav>
  <button type="button" class="header-btn">Get project quote</button>
</header>
