<section class="industry">
  <h2 industry__title>We're industry approved</h2>
  <p industry__text>
    Appello is one of Australia’s most highly rated software companies by recognisable directories
    like Clutch, GoodFirms, AppFutura and many more.
  </p>
  <ul class="industry-list">
    <li class="industry-list__item>
      <img src="images/industry1.png" alt="1" width="94"/>
      </li>
    <li class="industry-list__item>
      <img src="images/industry2.png" alt="2" width="94"/>
    </li>
    <li class="industry-list__item>
      <img src="images/industry3.png" alt="3" width="94"/>
    </li>
    <li class="industry-list__item><img src="images/industry4.png" alt="4" width="117"/></li>
  </ul>
</section>
