<section>
        <h2>kickstart your tech career</h2>
        <p>
          We're always on the lookout for bright strategic minds, creative
          superstars and coding gurus. Select one of our current opportunities
          below to apply.
        </p>
        <ul>
          <li>Backend Engineer</li>
          <li>Product Designer</li>
          <li>Frontend Engineer</li>
          <li>Project Manager</li>
          <li>Finance Director</li>
          <li>Backend Engineer</li>
          <li>Product Designer</li>
        </ul>
      </section>