<section class="partners">
    <h2 class="title">Your reliable web and app development partner</h2>
    <p>
      We make successful products that turn great ideas into user-friendly
      solutions for consumers and businesses.
    </p>
    <ul class="list">
      <li><p>Completely tailored software.</p></li>
      <li><p>Daily support with project manager.</p></li>
      <li><p>Projects delivered on time, always.</p></li>
      <li><p>Testing and quality assurance.</p></li>
      <li><p>Professional marketing expertise.</p></li>
      <li><p>Transparent costs and support.</p></li>
    </ul>
  </section>