<section>
  <h2>Regional partnerships</h2>
  <ul>
    <li>
      <p>App Development</p>
      <h3>Sydney</h3>
      <img src="" alt="" />
    </li>
    <li>
      <p>App Development</p>
      <h3>Brisbane</h3>
      <img src="" alt="" />
    </li>
    <li>
      <p>App Development</p>
      <h3>Goldcoast</h3>
      <img src="" alt="" />
    </li>
    <li>
      <p>App Development</p>
      <h3>Adelaide</h3>
      <img src="" alt="" />
    </li>
    <li>
      <p>App Development</p>
      <h3>Melbourne</h3>
      <img src="" alt="" />
    </li>
    <li>
      <p>App Development</p>
      <h3>Canberra</h3>
      <img src="" alt="" />
    </li>
  </ul>
</section>
