<section>
  <div class="container"></div>
  <h2 class="partnership-title">Regional partnerships</h2>
  <ul class="partnership-items">
    <li class="partnership-list list">
      <p class="partnership-parag">App Development</p>
      <h3 class="partnership-town">Sydney</h3>
      <svg width="78"; height="97">
        <use href="images/sprite.svg#icon-sydney"></use>
      </svg>
    <li class="partnership-list list">
      <p class="partnership-parag">App Development</p>
      <h3 class="partnership-town">Brisbane</h3>
    <svg width="81"; height="82">
        <use href="images/sprite.svg#icon-brisbane"></use>
      </svg>
    </li>
    <li class="partnership-list list">
      <p class="partnership-parag">App Development</p>
      <h3 class="partnership-town">Goldcoast</h3>
      <svg width="63"; height="97">
        <use href="images/sprite.svg#icon-goldcoast"></use>
      </svg>
    </li>
    <li class="partnership-list list">
      <p class="partnership-parag">App Development</p>
      <h3 class="partnership-town">Adelaide</h3>
      <svg width="77"; height="79">
        <use href="images/sprite.svg#icon-adelaide"></use>
      </svg>
    </li>
    <li class="partnership-list list">
      <p class="partnership-parag">App Development</p>
      <h3 class="partnership-town">Melbourne</h3>
      <svg width="83"; height="90">
        <use href="images/sprite.svg#icon-melbourne"></use>
      </svg>
    </li>
    <li class="partnership-list list">
      <p class="partnership-parag">App Development</p>
      <h3 class="partnership-town">Canberra</h3>
      <svg width="107"; height="79">
        <use href="images/sprite.svg#icon-canberra"></use>
      </svg>
    </li>
  </ul>
  </div>
</section>
