<section>
  <h2>Resources</h2>
  <p>
    Sharing the latest and greatest from industry trends, insights, inspiration and successful
    Appello ventures.
  </p>
  <ul>
    <li>
      <img src="" alt="" />
      <h3>Meet our Chief Design Officer, Pharaoh Woghiren</h3>
      <p>Meet our Chief Design Officer, Pharaoh Woghiren.</p>
    </li>
    <li>
      <img src="" alt="" />
      <h3>Refreshing Mobile Applications: How to Know When a Mobile App Redesign is Necessary?</h3>
      <p>
        When to consider a mobile app redesign and signs to look out for to make sure your app
        captures user attention and loyalty.
      </p>
    </li>
    <li>
      <img src="" alt="" />
      <h3>Your Guide to Developing the Best People Management Software Solution</h3>
      <p>
        Custom employee management software or people management software solutions will be
        extremely beneficial to not only your HR department but the entire company.
      </p>
    </li>
  </ul>
</section>
